@font-face {
    font-family: "dinalt";
    src: url('/fonts/din1451alt.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "courierprime";
    src: url('/fonts/CourierPrime-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}